port: "8080"
redis_addr: "metacode-redis:6379"

keycloak_url: "http://metacode-keycloak:8080/auth"
keycloak_issuer: "http://api.metacode.com/auth/realms/metacode"
keycloak_realm: "metacode"

services:

  - name: auth-service
    prefix: /v1/auth
    target: http://metacode-auth-service:8080
    rate_limit: 300

    routes:
      - path: /register
        public: true

      - path: /login
        public: true

      - path: /verify-email
        public: true

      - path: /token/refresh
        public: true

      - path: /forgot-password
        public: true

      - path: /reset-password
        public: true

      - path: /oauth/link
        public: true

      - path: /callback
        public: true

  - name: integration-service
    prefix: /v1/integration
    target: http://metacode-integration-service:8080
    rate_limit: 200

    routes:
      # Existing private routes
      - path: /profile
        auth: true

      - path: /calendar
        auth: true

      # ----------------------------
      # GitHub Integration (GET = public)
      # ----------------------------
      - path: /github/calendar
        auth: true

      - path: /github/calendar/byYear
        auth: true

      - path: /github/provider/start
        auth: true

      - path: /github/provider/callback
        auth: true

      # DELETE = private
      - path: /github/unlink
        auth: true
        verified: true

      # ----------------------------
      # LeetCode Integration (GET = public)
      # ----------------------------
      - path: /leetcode/user
        auth: true

      - path: /leetcode/user/byYear
        auth: true

      # POST/DELETE = private
      - path: /leetcode/bind
        auth: true
        verified: true

      - path: /leetcode/unbind
        auth: true
        verified: true

      # ----------------------------
      # Monkeytype Integration (GET = public)
      # ----------------------------
      - path: /monkeytype/user
        auth: true

      # POST/DELETE = private
      - path: /monkeytype/bind
        auth: true
        verified: true

      - path: /monkeytype/unbind
        auth: true
        verified: true

      # ----------------------------
      # SSE Events (GET = public)
      # ----------------------------
      - path: /sse/events
        public: true
        verified: true